body {
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: gray;
    font-family: Verdana;
}

.linking {
    font-family: Verdana;
    font-size: 16px;
    color: aquamarine;
}

video {
    width: 400px;
}

h2 {
    font-family: Verdana;
    color: white;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

h3 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

#camp {
    width: max-content; 
}

p {
    text-align: center;
}

h4 {
    color: gray;
    text-align: right;
    font-size: 21px;
    font-family: Verdana;
}