* {
    font-family: Verdana;
}

body {
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.linking {
    font-size: 16px;
    color: aquamarine;
}

video {
    width: 200px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

#camp {
    width: max-content; 
}